<header class="main_header">
    <nav class="main_header-nav">
        <ul class="main_header-list">
            <li class="main_header-item"><a href="/">shop</a></li>
            <li class="main_header-item">
                <a href="/admin/add-product">add-product</a>
            </li>
        </ul>
    </nav>
</header>