<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main_header">
        <nav class="main_header-nav">
            <ul class="main_header-list">
                <li class="main_header-item"><a href="/"></a></li>
                <li class="main_header-item"><a href="/admin/add-product"></a></li>
            </ul>
        </nav>
    </header>
    <h1>Page Not found</h1>
</body>
</html>