//- extends main template 
extends layouts/main-layouts.pug 
block styles 
    link(rel="stylesheet", href="/css/products.css") 

block content 
    main 
        form.forms(action="/admin/product" method='POST') 
            input.input_product(type="text" name="title")
            button.button(type="submit") add product