<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add products</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">shop</a></li>
          <li><a href="/admin/add-product">add product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/admin/add-product" method="POST">
        <input type="text" name="title" />
        <button type="submit">add product</button>
      </form>
    </main>
  </body>
</html>
