doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/products.css")
    body 
    header.main_header 
        nav.main_nav 
        ul.main_nav-list 
    //- <header>
    //-   <nav>
    //-     <ul>
    //-       <li><a href="/">Shop</a></li>
    //-       <li><a href="/admin/add-product">add product</a></li>
    //-     </ul>
    //-   </nav>
    //- </header>
    //- <main>
    //-   <h1>my product</h1>
    //-   <p>list product...</p>
        
    </main>