<main>
	{{#if hasProducts}}
		<div>
			{{#each prods}}
				<article>
					<h1 class="products__title"> {{this.title}} </h1>
					<h3 class="product__price"> $2042 </h3>
				</article>
			{{/each}}
		</div>
	{{else}}
		<h1>not products</h1>
	{{/if}}
</main>