extends layouts/main-layouts.pug 

block styles 

    link(rel="stylesheet", href="/css/products.css")

block content 
        main
            if prods.length > 0
                each product in  prods
                    article.card.product-item
                        h1.product__title #{product.title}
                        h2.product__price $20
            else 
                h2 no product