.forms {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
    margin-top: 4rem;
}
.input_product {
	border: none;
	outline: none;
    padding: 8px;
    border-radius: 12px;
    
}
.button{
    margin-top: 1rem;
    border-radius: 8px;
    padding: 4px;
    background-color: aquamarine;
    border: none;
    outline: none;
    cursor: pointer;
}
.button:hover{
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 4px 8px;
    background-color: aqua;
}

